#top-bar{
    background-color: #68BED9;
    display:grid;
    grid-template-columns: 45% 35% 20%;
    
}

#profile-pic{
    max-width: 70%;
    border-radius: 50%;
    margin: auto;
}

#written-info{
    margin-top:5%;;
    margin-bottom: auto;
    margin-left: 6%;
}

#switch{
    display: inline;
    margin:auto;
}
    
#container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.settings-input{
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn {
    margin-top: 10%;
    background-color: #003168 !important;
    
}
