#top-bar{
    background-color: lightgray;
    display:grid;
    grid-template-columns: 55% 25% 20%;
    
}

#profile-pic{
    max-width: 80px;
    border-radius: 50%;
    margin: auto;
}

#written-info{
    margin-top:5%;;
    margin-bottom: auto;
    margin-left: 6%;
}

#switch{
    display: inline;
    margin:auto;
}
    
#container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.settings-input{
    margin-top: 5%;
    margin-bottom: 5%;
}
